<a href="https://colab.research.google.com/github/arojas2016/Fall-2020/blob/master/Nonlinear_Dynamics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Notes- Hello World

Python Shell is used to test code, not to create a program. 

To create a program, write your code in a text file and save it with a .py extension. This file is known as a python script.

To create a python script, click on File > New File. This brings up the text editor, which is where you write your code.

In [ ]:
#prints the words "Hello World"
print ("Hello world")

Hello world

The green line is not a part of the code. It is a comment for others reading the code. 

To add a comment simply add a # before the comment.

## Variables
Variables are the names given to the data that we wish to store or manipulate. Define variables with a simple name and an assignment sign (=). Any new variables should be given a value.

In [ ]:
#example of defining a variable
userage = 0

Now that this variable has been defined it is stored in your computer (or google drive, in our case) and anytime it is used in the code it recalls its value (0 in our case).

You can define multiple variables at once, as such.

In [ ]:
#example of defining multiple variables
userage, username = 30, 'Peter'

When naming variables you can only use letters (a-z, A-B), numbers or underscores. However the first character cannot be a number. 

There are also reserved words that have a meaning in the python script so you cannot use those. Examples are the following
*   print
*   input
*   if
*   while

Variable names are also case sensitive. 

There are two common ways of naming variables in Python.
1.   Camel case
Camel case uses different cases to separate words. For example: ThisIsAVarableName
2.   Underscores
Underscores uses underscores to separate words. 
For example: this_is_a_variable

##The Assignment Sign
The assignment sign is "=", and is very different from mathematics's equal sign. 

The assignment sign means that whatever is on the right of it is what the left of it is. But it doesn't go both ways. 

x = y is very different than y = x.

In [ ]:
x = 5
y = 10
x = y 
print ("x= ", x)
print ("y= ", y)

x=  10
y=  10

See even though in the first line we say that x = 5, it is overridden by the third line of x = y. Y remains unchanged because it is not the variable. it is the value of the variable (x). 

Now if we change the third line to y = x we should see that y = 5.

In [ ]:
x = 5
y = 10
y = x 
print ("x= ", x)
print ("y= ", y)

x=  5
y=  5

##Basic Operations
Basic operators in python include the normal mathematical operations that you would perform on a variable. 

Those include
*   + (addition)
*   - (subtraction)
*   * (multiplication)
*   / (division)
*   // (floor division, which rounds down the answer to the nearest whole number)
*   % (modulus, which gives the remainder when 5 is divided by 2)
*   ** (exponent

In [ ]:
x = 5
y = 2

#addition
(x+y)

7

In [ ]:
#subtraction
(x-y)

25

In [ ]:
#multiplication
(x*y)

10

In [ ]:
#division
(x/y)

2.5

In [ ]:
#floor division
(x//y)

2

In [ ]:
#modulus
(x%y)

1

In [ ]:
#exponent
(x**y)

25

##More Assignment Operators

Besides the = sign there is also a shorthand method of doing simple calculations with a variable and one basic operation. 

Suppose you have a variable x that has an initial value of 10. If you want o increment x by 2 you would write

x = x + 2

which is 12, and that's what the output will be. 

But you can also write

x += 2

for a shorthand operator. 

This works for all the operators: "+=", "-+", "*=", "/=", "//+", "%+", "**="

##Some Important Definitions

*   Integers: numbers with no decimal parts

*   Float: numbers that have decimal parts

*   String: text, strings will always appear in red (in colab, they will appear green in python)

To declare string in python you can either use 'single quotes' or "double quotes"

In [ ]:
#example of declaring a string
user_name = 'Peter'
user_spouse_name = 'Janet'
user_age = '30'

Notice how for the age we still use the quotes, otherwise it would be treated as an integer. 

If you want to combine multiple strings just use the "+" sign.

In [ ]:
#example of adding strings
"Peter" + "Lee"

'PeterLee'

##String Functions

Python includes a number of built in string functions that are used to manipulate strings and perform a task. (For more detail see Chapter 7)

An example of a function available in Python is the upper() method for  strings. This is used to capitalize all the letters in a string.

In [ ]:
#example of capitalizing strings
'Peter'.upper()

'PETER'

To see more examples of built-in string functions in Python, see Appendix A.

One of these methods for formatting strings is using the modulus operator (%). 

Syntax is very important when using the % operator.

In [ ]:
#example of formatting strings with %
brand = 'Apple'
exchange_rate = 1.235235245
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR' %(brand, 1299, exchange_rate)
print (message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

The % acts as a placeholder for whatever you add to it. 
But if you look at the code carefully you'll notice letters and numbers after %. This is to format it. 

%s is a formatter used to represend a string (apple in this case)

%d is the formatter used to represent an integer  (1299). 

If you want to add spaces before an integer you add a number between % and d to indicate the desired length of the entire string.

In [ ]:
example_a = '%5d' %(123)
print (example_a)
#the character count of the outcome is 5, which is the number between % and d

  123

%f is the formatter used to format floats (numbers with decimals). 

In our example we had "%4.2f", where 4 is the total number of characters and 2 is the decimal places.

Another way to format strings is to use parenthesis {}.

In [ ]:
message = 'The price of this {0:s} laptop is {1:d} USD and the exchange rate is {2:4.2f} USD to 1 EUR'.format('Apple',1299,1.235235245)
print (message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

Here the parenthesis are used to format the string. Inside the parenthesis the first number is used to indicate the position of the substitute. 

Apple has the 0 position
*positions always start at 0!

1299 has the 1 position

1.235235245 has the 2 position. 

The rest of the formatting is the same as the % formatting, where s refers to string, d refers to integers, and f refers to floats. 

Be sure to not use any spaces within the parenthesis.

However, formatting is not required with parenthesis. You can simply put {} and it will just go by position.

In [ ]:
message = 'The price of this {} laptop is {} USD and the exchange rate is {} USD to 1 EUR'.format('Apple',1299, 1.235235245)
print (message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.235235245 USD to 1 EUR

##Type Casting

Sometimes it's necessary to convert one data type to another, say from an integer to a string. 

This is called "Type Casting"

There are three built-in functions in python that allow us to do type casting. These are the int(), float (), and str() functions.

In [ ]:
#int() is used to change floats and strings into integers
int(4.22321)
int("4")

4

In [ ]:
#float() is used to change integers and strings into floats
float(2)
float("2")

2.0

In [ ]:
#str() is used to change integers and floats into strings
str(2)
str(2.1)

'2.1'

##List

Lists refer to a collection of data that are normally related. 

For example if you wanted to store the age of 5 users you can use a list instead of writing out the code for each one. 

Define a list by writing the list's values in brackets separated by commas.

In [ ]:
#example of declaring a list
user_age = [21, 22, 23, 24, 25]
print(user_age)

[21, 22, 23, 24, 25]

You can also declare a list without assigning any initial values to it. 

ex. list_name = []

This is an empty list that you can append items to using ".append()"

Individual items in the list can be accessed via their position.*Recall positions always begin at 0. This is common for most programing softwares.

In [ ]:
#example of accessing an individual in a list
user_age = [21, 22, 23, 24, 25]
print(user_age[0])

21

You can also access the values of the list from the back by using negative numbers.

In [ ]:
#example of accessing the last individual from a list
user_age = [21, 22, 23, 24, 25]
print(user_age[-1])
print(user_age[-2])

25
24

You can also assign a list, or part of it to a variable.

In [ ]:
#assigning a list (user_age) to a variable (user_age2)
user_age2 = user_age
print(user_age2)

#assigning part of a list to a variable
user_age3 = user_age[2:4]
print(user_age3)

[21, 22, 23, 24, 25]
[23, 24]

The notation "2:4" is known as a slice. This notation is very particular in that it includes the position of the first number (2) but excludes the position of the last number (4). 

That's why user_age3 = [23, 24] which are positions 2 and 3 and not user_age3 = [23, 24, 25] which are postitions 2, 3 and 4. 

Slice notation can include a third number known as a "stepper". The stepper can make the sublist skip numbers equal to the stepper.

In [ ]:
#example of a stepper
user_age4 = user_age[1:5:2]
print(user_age4)

[22, 24]

Here 1 is telling us the position to begin the slice and 5 is the position to end the slice. 

2 is the stepper, or the amount to skip, therefor we get [22, 24] which is position 1 and 3 respectively. 

Slice notations do have defaults. If you forgoe numbers in the slice the first digit will be 0 and the last digit will be the size of the list (5 in our example). 

You can also modify items in a list.

In [ ]:
#example of modifying a list
user_age[1] = 5
print(user_age)

[21, 5, 23, 24, 25]

You're also able to add items to a list using ".append()"

This automatically adds whatever you append to the end of the list.

In [ ]:
#example of adding items to a list
user_age.append(99)
print (user_age)

[21, 5, 23, 24, 25, 99]

You can also remove items from a list using "del listname[position of item you wish to delete]"

In [ ]:
#example of deleteing items from a list
del user_age[2]
print(user_age)

[21, 5, 24, 25, 99]

Notice that "23", the number in position 2 is deleted

Appreciate the commands possible to manipulate a list below.

In [ ]:
myList = [1, 2, 3, 4, 5, "Hello"]
print(myList)

[1, 2, 3, 4, 5, 'Hello']

In [ ]:
print(myList[2])

3

In [ ]:
print(myList[-1])

Hello

In [ ]:
myList2 = myList[1:5]
print(myList2)

[2, 3, 4, 5]

In [ ]:
myList[1] = 20
print(myList)

[1, 20, 3, 4, 5, 'Hello']

In [ ]:
myList.append("How are you")
print(myList)

[1, 20, 3, 4, 5, 'Hello', 'How are you']

In [ ]:
del myList[5]
print(myList)

[1, 20, 3, 4, 5, 'How are you']

##Tuple
Tuples are like lists, but you cannot modify their values. The values assigned at the intial programming will stay that way throughout the entire program. 

This is useful for storing the names or values of unchanging things like the months of the year, or the seasons. 

Declare tuples using parenthesis instead of brackets, however you still need to use commas to separate the items and quotes to define strings.

In [ ]:
months_of_the_year = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
print(months_of_the_year)
print(months_of_the_year[9])
print(months_of_the_year[-3])

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
October
October

##Dictionary
Dictionary is used to store a collection of related data pairs. 
Declare a dictionary using curly brackets "{}" and colons ":"

In [ ]:
#example of declaring a dictionary
my_dictionary = {"Peter":38, "John":51}
print(my_dictionary)

{'Peter': 38, 'John': 51}

You can also declare a dictionary by defining a variable and adding "dict". In this method you use parenthesis instead of curly brackets, assignment signs instead of colons, and you don't use quotes at all.

In [ ]:
#2nd example of declaring a dictionary
user_name_and_age = dict(Peter=38, John=51, Alex=13, Alvin="Not Avaiable")
print(user_name_and_age)

{'Peter': 38, 'John': 51, 'Alex': 13, 'Alvin': 'Not Avaiable'}

You cannot declare a dictionary with two identical items on the left of the colon. It doesn't work.

In [ ]:
my_dictionary = {"Peter":38, "Peter":51}
print(my_dictionary)

{'Peter': 51}

To access items in the dictionary do the following:

In [ ]:
#example of accessing dictionary items
print(user_name_and_age["John"])

51

You're also able to modify dictionary items.

In [ ]:
#example of modifying dictionary items
user_name_and_age["John"] = 21
print(user_name_and_age["John"])

21

You can also declare an empty dictionary by just writing dictionary_name = {}

You can also add things to the dictionary by doing the following:

In [ ]:
#adding items to a dictionary
user_name_and_age["Joe"] = 40
print (user_name_and_age)

{'Peter': 38, 'John': 21, 'Alex': 13, 'Alvin': 'Not Avaiable', 'Joe': 40}

You can also remove items from the dictionary by using the del method.

In [ ]:
#example of removing items in the dictionary
del user_name_and_age["Alex"]
print(user_name_and_age)

{'Peter': 38, 'John': 21, 'Alvin': 'Not Avaiable', 'Joe': 40}

#Making Your Program Interactive

In [ ]:
#example of an input
my_name = input("Please enter your name: ")
my_age = input("What about your age: ")
print("Hello World, my name is", my_name, "and I am", my_age, "years old.")

Please enter your name: Amanda
What about your age: 24
Hello World, my name is Amanda and I am 24 years old.

##Input
Input is a function of code that allows one to enter in a string for the variable of whatever it's named for. 

This is slightly different in Python 2 and 3. If you want the input to be a string you have to use the raw_input() function instead of just input(). 

##Print
The print function is the code that displays it's information to users. You can use 0 to x parameters, but they must be separated by commas. 

You can also separate the different parameters using the % formatting we learned earlier.

In [ ]:
#example of print using %
print("Hello World, my name is %s and I am %s years old." %(my_name, my_age))

Hello World, my name is Amanda and I am 24 years old.

Print is also a function that is different in Python 2 and 3. In Python 2 and 3 you just write "print" without the parenthesis.

##Triple Quotes
You can use triple quotes to display a long message over multiply lines.

In [ ]:
#example of triple quotes
print("""Hello World.
My name is Amanda and
I am 24 years old.""")

Hello World.
My name is Amanda and
I am 24 years old.

##Escape Characters
Sometimes we need to print special "unprintable" characters, such as tab or newline. In this case, you need to use the \(backslash) character to escape characters that would otherwise have a different meaning. 

*   \n prints a new line
*   \t prints a tab
*   \\ prints the backslash character itself
*   \" prints a double quote, and doesn't end the string
*   \' prints a single quote, and doesn't end the string.

In [ ]:
#example of \n
print('Hello\nWorld')

#example of \t
print('Hello\tWorld')

#example of \\
print ("\\")

#example of \"
print("I am 5'9\" tall")

#example of \'
print('I am 5\'9" tall')

Hello
World
Hello	World
\
I am 5'9" tall
I am 5'9" tall

If you do not want characters preceded by \ to be interpreted as special charactes you can add r before the first quote.

In [ ]:
#example of r vs no r
print(r'Hellow\tWorld')

print ('Hello\tWorld')

Hellow\tWorld
Hello	World

##Condition Statements
All control flow tools involve evaluating a condition statement. The program will proceed differently depending on whether the condition is met. 

There are lots of different condition statements. Here are some common ones
*   Comparison

    "x == y" asks the program if x and y are equal

    "x != y" asks the program if x and y are not equal

    "x < y" asks the program if x is smaller than y

    "x > y" asks the program if x is greater than y

    "x <= y" asks the program if x is less than or equal to y

    "x >= y" asks the program if x is greather than or equal to y

You're able to add the operators "and", "or", and "not" to ask multiple conditions. 

The "and" operator will respond "True" if all conditions are met. 

The "or" operator will respond "True" if at least one condition is met. 

The "not" operator will respond True if the condition after the "not" is false.

##If Statements
The "if" statement is one of the most commonly used to control programs. 

There is also "elif" which means "else if" and you can use that to control programs if the condition is not met. You can have as many elif statements as you like. 

Ex. 
if condidtion 1 is met: 
  
  do A

elif condition 2 is met: 
  
  do B


elif condition 3 is met: 
    
  do C

Indents after if/elif/else statements work as a block of code that will be executed if the condition is met.

In [ ]:
#if/elif/else example
user_input = input('Enter 1 or 2: ')
if user_input == "1": 
    print("Hello World")
    print("How are you?")
elif user_input == "2":
    print("Python Rocks!")
    print("I love Python")
else:
    print ("You did not enter a valid number")

Enter 1 or 2: 2
Python Rocks!
I love Python

##Inline If
Inline if is a statement that is a simpler form of "if" statements. It's nice to use if your syntax is "Do A if condition 1 is met, otherwise do B."

In [ ]:
#example of inline if
my_int = 11
num1 = 12 if my_int == 10 else 13
print(num1)

13

##For Loop
"For loop" executes a block of code repeatedly until the condition in the "for" statement is no longer valid. 

iterable: anything that can be looped over, such as a string, list, or tuple

In [ ]:
#example of for loops
pets = ['cats', 'dogs', 'rabbits', 'hamsters']
for myPets in pets:
  print(myPets)

cats
dogs
rabbits
hamsters

What this is doing is going through the list and assigning each item to myPets until there are no more items. 

You can also display the index of the items by using the enumerate() function.

In [ ]:
#example of showing index in for loops using enumerate
for index, myPets in enumerate(pets):
    print(index, myPets)

0 cats
1 dogs
2 rabbits
3 hamsters

You can also loop through a string.

In [ ]:
message= 'Hello'
for i in message:
  print(i)

H
e
l
l
o

You're also able to loop through a sequence of numbers using "range(start, end, step)". 

If you don't enter a start, the numbers will start from position 0. 

If you don't enter a step, the step will be 1. 

The end value must be provided.

In [ ]:
#example of range function
for i in range(5):
  print(i)

0
1
2
3
4

##While Loop
While loops continuously execute the instructions inside the loop while a certain defined condition remains valid. 

Ex. while condition is true:

  do A

Most of the time when using while loops you need to declare a variable to function as the loop counter. The condition in the while statement will evaluate the value of counter to determine if it is smaller (or greater) than a certain value. If it is, the loop will be executed.

In [ ]:
#while loop example
counter = 5
while counter > 0:
  print("Counter = ", counter)
  counter = counter-1

Counter =  5
Counter =  4
Counter =  3
Counter =  2
Counter =  1

In this code the last line "counter = counter-1" is crucial. This makes it so that the condition "while counter > 0" is eventually false and the counter stops. Otherwise you create an infinite loop and the program will crash.

##Break
When working with loops, you may want to exit the entire loop when a certain condition is met. To do that we use "break"

In [ ]:
#break example
j = 0
for i in range(5):
  j = j + 2
  print('i= ', i, 'j =', j)
  if j == 6:
    break

i=  0 j = 2
i=  1 j = 4
i=  2 j = 6

Without the break, the program would loop from i = 0 to i = 4 because we used the function range(5). 

However with the break, the program ends prematurely at i = 2 because when i = 2, j = 6. 

In this example we did something called a "nested control statement". This is when you use a while loop inside an if statement or use a for loop inside a while loop.

##Continue
Another useful keyword for loops is "continue". When we use continue, the rest of the loop after the keyword is skipped for that iteration.

In [ ]:
j = 0
for i in range(5):
  j = j + 2
  print('\ni = ', i, ', j = ', j)
  if j == 6:
    continue
  print('I will be skipped over if j=6')

i =  0 , j =  2
I will be skipped over if j=6

i =  1 , j =  4
I will be skipped over if j=6

i =  2 , j =  6

i =  3 , j =  8
I will be skipped over if j=6

i =  4 , j =  10
I will be skipped over if j=6

#Python as a Calculator

In [ ]:
#This is a comment.

In [ ]:
#simple arithmetic
2 + 3 - 36 / 2 - 5

-18.0

In [ ]:
#exponentiation
2**5

32

In [ ]:
#fractional powers
2**0.5

1.4142135623730951

In [ ]:
#assign a variable
x = 3

In [ ]:
#work with that variable
x**2 + 1

10

In [ ]:
#x is type (class) integer
type(x)

int

In [ ]:
#assign x1 and x2
x1 = 4.2; x2 = 2.675

In [ ]:
#x1 is a float
type(x1)

float

In [ ]:
#truncates to integer
int(x1)

4

In [ ]:
#floor division
-7//3

-3

In [ ]:
#floating point arithmetic
round(x2, 2)

2.67

In [ ]:
#assign z1 and z2
z1 = 2 + 3j; z2 = 3 - 1j

In [ ]:
#z1 is a class complex
type(z1)

complex

In [ ]:
#complex arithmetic
z1**2 - 2 * z2

(-11+14j)

In [ ]:
#the modulus
abs(z1)

3.605551275463989

In [ ]:
#the real part of z1
z1.real

2.0

In [ ]:
#imaginary part of z1
z1.imag

3.0

In [ ]:
#a list of integers
a = [1, 2, 3, 4, 5]

In [ ]:
#determine a is a list
type(a)

list

In [ ]:
#1st element, 0 based indexing
a[0]

1

In [ ]:
#the last element
a[-1]

5

In [ ]:
#the number of elements
len(a)

5

In [ ]:
#the smallest element
min(a)

1

In [ ]:
#the largest element
max(a)

5

In [ ]:
#True, 5 is in the list a. 
5 in a

True

In [ ]:
#[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
2*a

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#Now a= [1, 2, 3, 4, 5 ,6]
a.append(6)

In [ ]:
#Remove the first 6 found
a.remove(6)

In [ ]:
#prints the list a
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#slice to get the list [2, 3]
a[1:3]

[2, 3]

In [ ]:
#a range object zero to nine
range(10)

range(0, 10)

In [ ]:
#A list [0, 1, 2, 3, 4]
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
#a list [4, 5, 6, 7, 8]
list(range(4, 9))

[4, 5, 6, 7, 8]

In [ ]:
#a list [2, 4, 6, 8]
list(range(2, 10, 2))

[2, 4, 6, 8]

In [ ]:
#a list [10, 8, 6]
list(range(10, 5, -2))

[10, 8, 6]

In [ ]:
#a list of lists
a = [[1,2], [3, 4]]

In [ ]:
#the first list [1, 2]
a[0]

[1, 2]

In [ ]:
#the second element in list 1
a[0][1]

2

In [ ]:
#import all under name space math
import math #

In [ ]:
#import sine command only
from math import sin

In [ ]:
#import all math commands
from math import *

In [ ]:
#sin function
sin(pi)

1.2246467991473532e-16

In [ ]:
#inverse cosine
acos(0)

1.5707963267948966

In [ ]:
#exponential function
exp(0.3)

1.3498588075760032

In [ ]:
#log base 10
log10(0.3)

-0.5228787452803376

In [ ]:
#return floor as integer
floor(2.35)

2